/* @import '@tiptap/starter-kit/style.css'; */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@tailwind utilities;
@import 'tailwindcss';
/* @plugin 'tailwind-scrollbar' */
:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --tw-border-style: rgb(229 231 235);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --color-primary: #0d99a6;
    --color-primary-bold: #0a6770;
    --color-link: #00bfa5;
    --color-secondary: #2b6bb5;
    --color-background: #fcfcfc;
    --color-camdat: #f28b30;
}
@keyframes shrink {
    0%,
    100% {
        width: 100%;
    }
    50% {
        width: 0%;
    }
}
@keyframes animate-gradient {
    0% {
        background-position: 0%;
    }
    50% {
        background-position: 100%;
    }
    100% {
        background-position: 0%;
    }
}
@keyframes blink-blink {
    0% {
        transform: rotate(-5deg);
        font-size: 1.125rem;
    }
    100% {
        transform: rotate(5deg);
        font-size: 1.25rem;
    }
}
/* primary: '#0d99a6',
                'primary-bold': '#0a6770',
                link: '#00bfa5',
                secondary: '#2b6bb5',
                background: '#fcfcfc', */
@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: 'Open Sans', sans-serif;
}
button {
    cursor: pointer;
}
.border-primary {
    border-color: var(--color-primary) !important;
}
.border {
    border-color: rgb(229 231 235);
}
.animate-animate-gradient {
    animation: animate-gradient 3s ease-in-out infinite;
}

.animate-shrink {
    animation: shrink 3s ease-in-out infinite;
}

.animate-blink-blink {
    animation: blink-blink 1s ease-in-out infinite;
}

.animate-blink-blink-gradient {
    animation: blink-blink 2s ease-in-out infinite alternate, animate-gradient 3s ease-in-out infinite;
}
.border-2 {
    border-color: rgb(229 231 235);
}
.border-b-2 {
    border-color: rgb(229 231 235);
}
.toast-ui-custom .toastui-editor-popup {
    left: 0px !important;
}
.toast-ui-custom .toastui-editor-dropdown-toolbar {
    left: 0px !important;
}
.custom-header + .custom-view {
}

/* Kích thước thanh cuộn */
.maquiz-scroll::-webkit-scrollbar {
    width: 8px; /* Thanh cuộn dọc */
    height: 8px; /* Thanh cuộn ngang */
}

/* Nền của thanh cuộn (track) */
.maquiz-scroll::-webkit-scrollbar-track {
    background: #f1f1f1; /* Màu nền track */
    border-radius: 8px;
}

/* Phần di chuyển (thumb) */
.maquiz-scroll::-webkit-scrollbar-thumb {
    background: var(--color-primary); /* Màu thumb */
    border-radius: 8px;
}

/* Khi hover vào thumb */
.maquiz-scroll::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary-bold);
}
.no-horizontal-scroll {
    overflow-x: hidden; /* Ẩn cuộn ngang */
    white-space: normal; /* Cho phép xuống dòng */
    overflow-y: auto; /* Cho phép cuộn dọc */
}
.no-vertical-scroll {
    overflow-x: normal; /* Ẩn cuộn ngang */
    white-space: hidden; /* Cho phép xuống dòng */
    overflow-y: auto; /* Cho phép cuộn dọc */
}
.text-wrap {
    white-space: normal;
    word-wrap: break-word; /* Cho phép ngắt từ */
    overflow-wrap: break-word; /* Chuẩn mới hơn của word-wrap */
}
.text-center.w-full.mt-5.py-3 {
    display: none !important;
}
