.custom-editor-react-quill-new-MAQUIZ {
    border-radius: 12px;
    background: #f1f3f9;
    padding: 6px;
    align-self: stretch;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    .quill {
        height: 100%;
        display: flex;
        flex-direction: column;
        .ql-toolbar {
            border: none;
            flex-shrink: 0;
        }
        .ql-container {
            border: none;
            background-color: #fff;
            min-height: 100px;
            max-height: 500px;
            border-radius: 8px;
            width: 100%;
            overflow-y: auto;
            flex: 1;
            cursor: text;

            .ql-editor {
                min-height: 100px;
                cursor: text;

                &:after {
                    content: '';
                    display: block;
                    height: 1px;
                    width: 100%;
                }
            }
        }
    }
}
